<!DOCTYPE html>
<html>

<head>
</head>

<body>
	<h1>Confirmation Receipt</h1>
	<p>We have confirmed your purchase. We hope you have a safe and comfortable flight!</p>
	<p>
		<Strong>Ticket Information</Strong>
		<p>
			Outbound Ticket ID: {{ outboundTicketID }} <br>
			Inbound Ticket ID: {{ inboundTicketID }}
		</p> 
		<p>
			You can also view your ticket and flight details in the "My Flights" section of your Home page.
		</p>
	</p>

	<a href="/customerHome">Back to Customer Home</a>
</body>

</html>