<html>
<head>
</head>
<body>

	<a href="/">Go back</a>
	<br>

	<h1>Customer - Login</h1>
	<form action="/loginAuth" method="POST">
		<input type="email" name = "email" placeholder="email" required/> </br>
		<input type="password" name = "password" placeholder="password" required/></br>
		<br>
		<input type="submit" value = Login />
		{% if error %}
			<p class="error"><strong>Error:</strong> {{error}}</p>
		{% endif %}
	</form>

	<a href="/customer-register">Don't have an account? Sign up</a>
</body>


</html>
