<!DOCTYPE html>
<html>

<head>
    

</head>

<body>
	<h1>Air Ticket Reservation System</h1>
	<!-- <a href="/login_airline_staff">Login Airline Staff</a> </br> -->
	<!-- <a href="/register_airline_staff">Register Airline Staff</a></br> -->
    <a href="/login_airline_staff">Login Airline Staff</a> </br>
	<a href="/register_airline_staff">Register Airline Staff</a></br>
	<a href="/customer-login">Login Customer</a></br>
	<a href="/customer-register">Register Customer</a></br>
	<a href="/search">Search for Flights</a></br>
	<a href="/check_flight_status">Check Flight Status</a>
</body>

</html>