<!DOCTYPE html>
<html>
<head>
    <title>Flight Search</title>
    <script type="text/javascript">
        function toggleReturnDate() {
            // Check if the round-trip radio button is checked
            if (document.getElementById('round-trip').checked) {
                // If round-trip is selected, show the return date field
                document.getElementById('return-date-field').style.display = 'block';
            } else {
                // If one-way is selected, hide the return date field
                document.getElementById('return-date-field').style.display = 'none';
            }
        }
    </script>

    <!-- <link rel="stylesheet" href="/static/style.css"> -->

</head>
<body>
    <form action="/searchresults" method="POST">
        <h1>Search for Flights</h1>
        <input type="text" name="origin" placeholder="Origin Airport Code" required /> </br>
        <input type="text" name="destination" placeholder="Destination Airport Code" required /> </br>
        <input type="date" name="departure_date" placeholder="Departure Date" required /> </br>

        <input type="radio" id="one-way" name="trip" value="one-way" onclick="toggleReturnDate()" checked>
        <label for="one-way">One-way</label><br>
        <input type="radio" id="round-trip" name="trip" value="round-trip" onclick="toggleReturnDate()">
        <label for="round-trip">Round Trip</label><br>

        <div id="return-date-field" style="display:none;">
            <input type="date" name="return_date" placeholder="Return Date" /> <br/>
        </div> 

        <input type="submit" value="Search" />
    </form>
</body>
</html>
