<html>
<head>
</head>
<body>
	<h1>Welcome {{username}}</h1>
	<a href="/view_flights">View Flights</a> </br>
	<a href="/create_new_flight">Create New Flight</a></br>
	<a href="/create_new_airplane">Create New Airplane</a></br>
	<a href="/create_new_airport">Create a New Airport</a></br>
	<a href="/schedule_maintenance">Schedule Maintenance</a></br> <!-- ######################################## -->
	<a href="/view_frequent_customers">Frequent Customers</a></br>  <!-- ######################################## -->
	<a href="/search_flight_ratings">View Flight Ratings</a></br>
	<a href="/view_earned_revenue">View Earned Revenue</a></br>  <!-- ######################################## -->
	<a href="/logout">Log out</a></br>

</body>
</body>


</html>
