<html>
<head>
</head>
<body>

	<style type="text/css">
		table, th, td{
			border: 1px solid black;
		}
	</style>

	<a href="staff_home">Go back</a> </br>
	<h1>View Frequent Customers</h1>
	<div>

	<table>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Email</th>
		<th>Date of Birth</th>
		<th>Number of Trips</th>
	{% for customer in customers %}
		<tr>
			<td>{{customer['first_name']}}</td>
			<td>{{customer['last_name']}}</td>
			<td><a href="/view_cusomter_flights?param1={{customer['email_id']}}">{{customer['email_id']}}</a></td>
			<td>{{customer['date_of_birth']}}</td>
			<td>{{customer['frequency']}}
		</tr>
	{% endfor %}
	</table>
	</div>
</body>


</html>

